p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
}

.blue {
  color: #0000ff;
}

.blue-rgba {
  color: rgba(17, 120, 255, 1);
}

.blue-hsl {
  color: hsl(241, 100%, 24%);
}