div {
  background-color: pink;
}

#divAku {
  background-color: lightblue;
}

.class-aku {
  background-color: lightgray;
}

.font-coral {
  color: lightcoral;
}

.bg-red {
  background-color: red;
}